<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'contactUs.css' %}">
  </head>
  <body>
    <section class = "contact">
      <div class="content">
        <h2>Contact Us</h2>
        <p>We love to hear from our extremely talented players, but feel free to fling tomatoes in our direction if you must.</p>
      </div>

      <div class="container">
        <div class="contactInfo">
          <div class="box">
              <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="text">
                <h3>Address</h3>
                <p>64/1 Lake Circus, <br>Kalabagan, Dhaka, <br>Bangladesh</p>
              </div>
          </div>
          <div class="box">
              <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
              <div class="text">
                <h3>Phone</h3>
                <p>+880 17 6249 9967</p>
              </div>
          </div>
          <div class="box">
              <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
              <div class="text">
                <h3>Email</h3>
                <p>farhantahmid@gmail.com</p>
              </div>
          </div>
        </div>
        <div class="contactForm">
          <form method='POST' action='contactUs'>
            {% csrf_token %}
            <h2>Send Messages</h2>
            <div class="inputBox">
              <input type="text" name="name" required="required">
              <span>Full Name</span>
            </div>
            <div class="inputBox">
              <input type="email" name="email" required="required">
              <span>Email</span>
            </div>
            <div class="inputBox">
              <textarea required="required" name="message"></textarea>
              <span>Type your Message in 500 words here...</span>
            </div>
            <div class="inputBox">
              <input type="submit" name="" value="Send">
            </div>
            <div class="raise-error">
              {% for message in messages %}
                <p class="message">{{message}}</p>
              {% endfor %}
            </div>
          </form>
        </div>
      </div>
    </section>



  </body>
</html>