<!-- <!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RITU</title>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <script src="https://kit.fontawesome.com/f6a195ab53.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <img src="{% static 'ritu (2).png' %}" class="ritu">
        <ul>
          <li><a href="{% url 'ritu_web_app:aboutUs' %}">About Us</a></li>
          <li><a href="{% url 'ritu_web_app:contactUs' %}">Contact Us</a></li>
        </ul>

      </div>

    </div>

    <div class="content">
      <h1>RITU</h1>
      <p> Play and complete tasks to fight <b>Climate Change</b> and get a chance to win <b>50K</b>!<br>
      <div class="text-1"><span class="typing"></span></div></p>
      <div>
        <a href="{% url 'users:login' %}">
          <button type="button"><span></span>Log in</button></a>
        <a href="{% url 'users:signup' %}">
          <button type="button"><span></span>Sign up</button></a>
      </div>
    </div>

    <script src="{% static 'homepage.js' %}"></script>
  </body>
</html> -->



<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RITU</title>

    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <script src="https://kit.fontawesome.com/f6a195ab53.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>

  </head>
  <body>

    <nav class="navbar">
      <div class="max-width">
        <div class="logo"><a href="#"><span>R</span>itu.</span></a></div>
        <ul class="menu">
          <li><a href="{% url 'ritu_web_app:aboutUs' %}">About Us</a></li>
          <li><a href="{% url 'ritu_web_app:contactUs' %}">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <section class = "home" id= "home">
      <div class="max-width">
        <div class="home-content">
          <div class="text-2"><span>R</span>itu.</div>
          <div class="text-3">Play and complete tasks to fight <b>Climate Change</b> and get a chance to win <b>50K</b>!<br><span class="typing"></span></div>
          <a href="{% url 'users:login' %}" class="log_in">Log in</a>     
          <a href="{% url 'users:signup' %}" class="sign_up">Sign up</a>
        </div>
      </div>
    </section>

  <script src="{% static 'homepage.js' %}"></script>
  </body>
</html>