
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'profileCard.css' %}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="left">

        <img src="{% static 'logo.png' %}" alt="user" width="100">
        <h4>Khan Tahmid Chowdhury</h4>
        <p>Level 100000 </p>

      </div>

      <div class="right">

        <div class="info">
          <h3>Information</h3>
          <div class="info_data">

            <div class="data">
              <h4>Email</h4>
              <p>zaedkhan2019@gmail.com</p>
            </div>

            <div class="data">
              <h4>Phone</h4>
              <p>01760048899</p>
            </div>

          </div>
        </div>

        <div class="points">
          <h3>Points</h3>
          <div class="points_data">

            <div class="data">
              <h4>Level 1</h4>
              <p>3000 points <br>Time: 2min</p>
            </div>

            <div class="data">
              <h4>Level 2</h4>
              <p>1000 points <br>Time: 12hours</p>
            </div>

          </div>
        </div>

        <div class="social_media">
          <ul>
            <li> <a href="#"></a><i class="fab fa-facebook-f"></i> </li>
            <li> <a href="#"></a><i class="fab fa-twitter"></i></li>
            <li> <a href="#"></a><i class="fab fa-instagram"></i></li>
          </ul>

        </div>
      </div>

    </div>

  </body>
</html>
