<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RITU</title>
    <link rel="stylesheet" href="{% static 'menu.css' %}">
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <img src="{% static 'ritu (2).png' %}" class="ritu">
        <ul>
          <li><a href="{% url 'ritu_web_app:leaderboard' %}">Leaderboard</a></li>
          <li><a href="{% url 'ritu_web_app:profileCard' %}">Profile</a></li>
          <li><a href="{% url 'ritu_web_app:marketplace' %}">Marketplace</a></li>
        </ul>

      </div>

    </div>

    <div class="content">
      <div>
        <a href="{% url 'ritu_web_app:task1' %}">
        <button type="button"><span></span>Play</button></a>
      </div>
    </div>

  </body>
</html>
