@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(120deg,#379683, #5CDB95);
}
.container{
    max-width: 700px;
    width: 100%;
    background:#379683;
    padding: 25px,30px;
    border-radius: 10px;

}
.container .title{
    /* margin-left: 5px; */
    font-size: 25px;
    font-weight: 600;
    background:#379683 ; 
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background: #5CDB95;
}
.container form .user-details{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20 px 0 12px 0;
}
form .user-details .inputBox{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);

}
.user-details .inputBox .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}
.user-details .inputBox input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px,solid #379683;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .inputBox input:focus,
.user-details .inputBox input:valid{
    border-color: #f3f3f3;
}
form .genderDetails .genderTitle{
    /* margin-left: 5px; */
    font-size: 20px;
    font-weight: 500;
}
form .genderDetails .category{
    display: flex;
    width: 80%;
    margin: 14px,0;
    justify-content: space-between;
}
.genderDetails .category label{
    display: flex;
    align-items: center;
}
.genderDetails .category .dotOne,
.genderDetails .category .dotTwo,
.genderDetails .category .dotThree{
    margin-left: 5px;
    height: 18px;
    width: 18px;
    background: #379683;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s,ease;
}
#genderDot1:checked ~ .category label .dotOne,
#genderDot1:checked ~ .category label .dotTwo,
#genderDot1:checked ~ .category label .dotThree{
    border-color: #d9d9d9;
    background: #f3f3f3;
}
form input[type="radio"]{
    display:none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline:none;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 10px;
    letter-spacing: 3px;
    background:#379683;
}
form .button input:hover{
    background: linear-gradient(140deg,#379683, #5CDB95);
}
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .inputBox{
        margin-bottom: 15px;
        width: 100%;
    }
    form .genderDetails .category{
        width: 100%;
    }
    .container form .user-details{
        max-height:300px ;
        overflow-y: scroll;
    }
}
.error .message{
    justify-content: center;
    color: red;
    margin-left: 240px;
}